[Desktop Entry]
Name=Default Login Splash

X-KDE-PluginInfo-Name=Default Login Splash
X-Attributed-URLs=https://www.opendesktop.org/p/1069648/;https://cdn.pling.com/img//hive/content-pre2/65895-2.jpg

 
