[Desktop Entry]
Name=Default Login Splash

X-KDE-PluginInfo-Name=Default Login Splash
X-Attributed-URLs=https://www.opendesktop.org/p/1069648/;https://images.pling.com/img/00/00/01/05/82/1069648/65895-2.jpg

 
