[Desktop Entry]
Type=Application
Exec=/usr/bin/file-roller
Icon=/usr/share/icons/oxygen/32x32/mimetypes/application-x-executable.png
Name=GTK Archive Manager
