[Desktop Entry]
Type=Application
Exec=/opt/bin/calculator
Icon=/usr/share/icons/oxygen/32x32/mimetypes/application-x-executable.png
Name=QT Calculator
