[Unit]
Description=Network Manager

[Service]
Type=forking
ExecStart=/usr/sbin/NetworkManager
# NM doesn't want systemd to kill its children for it
KillMode=process

[Install]
Alias=NetworkManager.service

