[Unit]
Description=Command Scheduler
After=syslog.target auditd.service systemd-user-sessions.service time-sync.target

[Service]
ExecStart=/usr/sbin/cron
KillMode=process

[Install]
WantedBy=multi-user.target

