[Unit]
Description=Ethernet Bridge Filtering tables

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/sbin/ebtables start
ExecStop=/sbin/ebtables stop

[Install]
WantedBy=multi-user.target
