[Unit]
Description=Initial Setup configuration program
After=livesys.service plymouth-quit-wait.service
Before=display-manager.service getty@tty1.service
Conflicts=plymouth-quit-wait.service initial-setup-text.service
ConditionKernelCommandLine=!rd.live.image

[Service]
Type=oneshot
ExecStartPre=
ExecStart=/bin/xinit /bin/firstboot-windowmanager /bin/initial-setup -- /bin/Xorg :9 -ac -nolisten tcp
TimeoutSec=0
RemainAfterExit=no
SysVStartPriority=99

[Install]
WantedBy=graphical.target
