[Unit]
Description=Network Manager Script Dispatcher Service

[Service]
Type=dbus
BusName=org.freedesktop.nm_dispatcher
ExecStart=/usr/lib/NetworkManager/nm-dispatcher.action

[Install]
Alias=dbus-org.freedesktop.nm-dispatcher.service

