[Unit]
Description=NFS Mount Daemon
BindTo=nfs-server.service
After=nfs-server.service

[Service]
Type=forking
EnvironmentFile=-/etc/sysconfig/nfs
ExecStart=/usr/sbin/rpc.mountd $RPCMOUNTDOPTS
StandardError=syslog+console

[Install]
WantedBy=nfs.target
