[Unit]
Description=NFSv4 ID-name mapping daemon
BindTo=nfs-server.service
After=nfs-server.service

[Service]
Type=forking
StandardError=syslog+console
EnvironmentFile=-/etc/sysconfig/nfs
ExecStart=/usr/sbin/rpc.idmapd $RPCIDMAPDARGS

[Install]
WantedBy=nfs.target
