[Unit]
Description=Show Plymouth Reboot with kexec Screen
After=getty@tty1.service display-manager.service plymouth-start.service
Before=systemd-kexec.service
DefaultDependencies=no
ConditionKernelCommandLine=!plymouth.enable=0

[Service]
ExecStart=/usr/sbin/plymouthd --mode=shutdown --attach-to-session
ExecStartPost=-/usr/bin/plymouth show-splash
Type=forking

[Install]
WantedBy=kexec.target
