[Unit]
Description=System Logging Service
;Requires=syslog.socket

[Service]
Type=forking
EnvironmentFile=-/etc/sysconfig/rsyslog
ExecStart=/usr/sbin/rsyslogd
StandardOutput=null

[Install]
WantedBy=multi-user.target
;Alias=syslog.service
