[Unit]
Description=vTTY for %I
Conflicts=getty@%i.service

After=systemd-user-sessions.service plymouth.service

ConditionPathExists=/dev/tty0
ConditionPathExists=/dev/%i
ConditionPathExists=!/run/vtty/%i/vttyinhibit

#Same as default getty service
IgnoreOnIsolate=true
Conflicts=rescue.service
Before=rescue.service


#Only way for a failure to be reported is if there is no /dev/dri/card(X) device
#The ttyserver always returns true
OnFailure=getty@%i.service

[Service]
Environment=XDG_SEAT=seat0
ExecStart=/usr/libexec/vtty/vtty %I

TTYPath=/dev/%I
TTYReset=true
StandardOutput=tty
StandardInput=tty
TTYVTDisallocate=true

Restart=on-failure
RestartSec=0

Type=simple

[Install]
WantedBy=getty.target
DefaultInstance=tty1
