[Unit]
Description=The Wayland Login Manager for RebeccaBlackOS
After=
Conflicts=plymouth-quit.service

[Service]
ExecStart=/usr/bin/waylandloginmanager
Restart=always
IgnoreSIGPIPE=no
StandardOutput=tty
StandardInput=tty
TTYPath=/dev/tty63

[Install]
Alias=display-manager.service
WantedBy=multi-user.target