[Desktop Entry]
Enabled=1
Type=WSession
Name=Default Weston Desktop Shell
Comment=The Weston Desktop Environment
CompositorExec=/opt/bin/weston
CompositorSupportsKMS=1
CompositorSupportsFB=1
CompositorSupportsWL=0
CompositorKMSArguments=--backend=drm-backend.so
CompositorFBArguments=--backend=fbdev-backend.so
CompositorWLArguments=--backend=wayland-backend.so
CompositorDisplayArgument=--socket=
CompositorKMSSeatAware=1
CompositorKMSSeatArgument=--seat=
CompositorFBSeatAware=0
SessionArgument=--modules=screen-share.so
AdditionalArguments=--xwayland
NeedsFile=/opt/bin/weston
[EnvironmentFile]
set=QT_WAYLAND_SHELL_INTEGRATION=wl-shell
