[Desktop Entry]
Enabled=1
Type=WSession
Name=Default Weston Desktop
Comment=The Weston Desktop Environment
CompositorExec=/opt/bin/weston
CompositorSupportsKMS=1
CompositorSupportsFB=0
CompositorSupportsWL=0
CompositorKMSArguments=--backend=drm-backend.so
CompositorFBArguments=--backend=fbdev-backend.so
CompositorWLArguments=--backend=wayland-backend.so
CompositorDisplayArgument=--socket=
CompositorKMSSeatAware=1
CompositorKMSSeatArgument=--seat=
CompositorFBSeatAware=1
CompositorFBSeatArgument=--seat=
#SessionArgument=--modules=screen-share.so
AdditionalArguments=--xwayland
NeedsFile=/opt/bin/weston
[EnvironmentFile]
set=XDG_CURRENT_DESKTOP=Weston
set=WLM_NO_DBUS_RUN_SESSION=1
set=GTK_USE_PORTAL=0
