[Desktop Entry]
Enabled=1
Type=WSession
Name=Default Weston Desktop Shell
CompositorExec=/opt/bin/weston
CompositorSupportsKMS=1
CompositorSupportsFB=1
CompositorKMSArguments=--backend=drm-backend.so
CompositorFBArguments=--backend=fbdev-backend.so
CompositorDisplayArgument=--socket=
SessionArgument=--modules=xwayland.so,screen-share.so
AdditionalArguments=--log=$HOME/weston.log
NeedsFile=/opt/bin/weston