[Desktop Entry]
Enabled=1
Type=WSession
Name=Enlightenment Desktop
Comment=The Enlightenment Desktop
CompositorExec=/opt/bin/enlightenment_start
CompositorSupportsKMS=1
CompositorKMSSeatAware=1
CompositorSupportsFB=0
CompositorKMSArguments=
CompositorFBArguments=
CompositorDisplayArgument=
SessionArgument=
AdditionalArguments=
NeedsFile=/opt/bin/enlightenment
[EnvironmentFile]
set=E_WL_FORCE=drm@KMS
set=E_WL_FORCE=fb@FB
