[Desktop Entry]
Enabled=1
Type=WSession
Name=Enlightenment Desktop
Comment=The Enlightenment Desktop
CompositorExec=/opt/bin/enlightenment_start
CompositorSupportsKMS=0
CompositorSupportsWKS=1
CompositorKMSSeatAware=1
CompositorSupportsFB=0
CompositorKMSArguments=
CompositorFBArguments=
CompositorDisplayArgument=
SessionArgument=
AdditionalArguments=
NeedsFile=/opt/bin/enlightenment
NeedsFile=/opt/bin/enlightenment_start
[EnvironmentFile]
set=E_WL_FORCE=drm@KMS
set=E_WL_FORCE=fb@FB
set=E_WL_FORCE=wl@WKS
set=XDG_CURRENT_DESKTOP=enlightenment
#set=E_START=enlightenment_start
