[Desktop Entry]
Enabled=1
Type=WSession
Name=Gnome Shell
Comment=The Gnome Desktop
CompositorExec=/opt/bin/gnome-session
CompositorSupportsKMS=1
CompositorSupportsFB=0
CompositorKMSArguments=
CompositorFBArguments=
CompositorDisplayArgument=
SessionArgument=
AdditionalArguments=--session=gnome -f
NeedsFile=/opt/bin/gnome-shell
CompositorKMSSeatAware=1
[EnvironmentFile]
set=XDG_CURRENT_DESKTOP=GNOME
unset=COGL_RENDERER
unset=GDK_BACKEND
