[Desktop Entry]
Enabled=1
Type=WSession
Name=Wayland Gnome Shell
CompositorExec=/opt/bin/gnome-session
CompositorSupportsKMS=1
CompositorSupportsFB=0
CompositorKMSArguments=
CompositorFBArguments=
CompositorDisplayArgument=
SessionArgument=
AdditionalArguments=--session=gnome-wayland -f
NeedsFile=/opt/bin/gnome-shell
EnvironmentFile=/usr/share/wsessions.d/gnome-shell-wayland.environment

