[Desktop Entry]
Enabled=1
Type=WSession
Name=Gnome Shell
Comment=The Gnome Desktop
CompositorExec=/opt/bin/gnome-session
CompositorSupportsKMS=1
CompositorSupportsFB=0
#Force gnome-session script to not kill the PATH variable (workaround)
CompositorKMSArguments=-l
CompositorFBArguments=
CompositorDisplayArgument=
SessionArgument=
AdditionalArguments=--session=gnome -f
NeedsFile=/opt/bin/gnome-shell
NeedsFile=/opt/bin/gnome-session
CompositorKMSSeatAware=1
[EnvironmentFile]
set=XDG_CURRENT_DESKTOP=GNOME
set=GIO_LAUNCH_DESKTOP=/opt/bin/gio-launch-desktop
unset=COGL_RENDERER
unset=GDK_BACKEND
set=WLM_NO_DBUS_RUN_SESSION=1
