[Desktop Entry]
Enabled=1
Type=WSession
Name=Hawaii Desktop
CompositorExec=/opt/bin/hawaii-session
CompositorSupportsWL=1
CompositorSupportsKMS=0
CompositorSupportsFB=0
CompositorWLArguments=-m wayland
CompositorKMSArguments=
CompositorFBArguments=
CompositorDisplayArgument=
SessionArgument=
AdditionalArguments=
NeedsFile=/opt/bin/hawaii