[Desktop Entry]
Enabled=1
Type=WSession
Name=Hawaii Desktop
CompositorExec=/opt/bin/hawaii
CompositorSupportsWL=1
CompositorSupportsKMS=0
CompositorSupportsFB=0
CompositorWLArguments=-n -platform greenisland
CompositorKMSArguments=-platform greenisland
CompositorFBArguments=
CompositorDisplayArgument=--wayland-socket-name 
SessionArgument=
AdditionalArguments=
NeedsFile=/opt/bin/hawaii
EnvironmentFile=/usr/share/wsessions.d/hawaii-desktop.environment
