[Desktop Entry]
Enabled=1
Type=WSession
Name=Hawaii Desktop
CompositorExec=/opt/bin/hawaii
CompositorSupportsWL=1
CompositorSupportsKMS=0
CompositorSupportsFB=0
CompositorWLArguments=
CompositorKMSArguments=
CompositorFBArguments=
CompositorDisplayArgument=--wayland-socket-name 
SessionArgument=
AdditionalArguments=
NeedsFile=/opt/bin/hawaii