[Desktop Entry]
Enabled=0
Type=WSession
Name=Hosted Session Test
CompositorExec=/opt/bin/weston-fullscreen
CompositorSupportsWL=1
CompositorSupportsKMS=0
CompositorSupportsFB=0
CompositorKMSArguments=
CompositorFBArguments=
CompositorDisplayArgument=
SessionArgument=
AdditionalArguments=

