[Desktop Entry]
Enabled=1
Type=WSession
Name=KDE Plasma
CompositorExec=/opt/bin/kwin_wayland
CompositorSupportsWL=1
CompositorSupportsKMS=0
CompositorSupportsFB=0
CompositorWLArguments=--windowed
CompositorKMSArguments=--drm --libinput
CompositorFBArguments=--framebuffer --libinput
CompositorDisplayArgument=--socket=
SessionArgument=
AdditionalArguments=--xwayland /opt/bin/startkde /usr/bin/waylandapp 
EnvironmentFile=/usr/share/wsessions.d/kdeplasma.environment

