[Desktop Entry]
Enabled=0
Type=WSession
Name=KDE Plasma
CompositorExec=/opt/bin/kwin_wayland
CompositorSupportsWL=1
CompositorSupportsKMS=0
CompositorSupportsFB=0
CompositorKMSArguments=
CompositorFBArguments=
CompositorDisplayArgument=--socket=
SessionArgument=
AdditionalArguments=--xserver

