[Desktop Entry]
Enabled=1
Type=WSession
Name=Liri Desktop
Comment=The Liri Desktop
CompositorExec=/opt/bin/liri-session
CompositorSupportsWL=1
CompositorSupportsKMS=1
CompositorSupportsFB=0
CompositorWLArguments=-- -platform wayland
CompositorKMSArguments=-- -platform eglfs
CompositorFBArguments=
CompositorDisplayArgument=
SessionArgument=
AdditionalArguments=
NeedsFile=/opt/bin/liri-session
CompositorKMSSeatAware=1
[EnvironmentFile]
set=QT_QPA_EGLFS_INTEGRATION=kms@KMS
set=QT_WAYLAND_SHELL_INTEGRATION=fullscreen-shell@WL
