[Desktop Entry]
Enabled=0
Type=WSession
Name=Maui Cask Desktop
Comment=The Convergent Maui Cask Desktop
CompositorExec=/opt/bin/cask
CompositorSupportsWL=0
CompositorSupportsKMS=1
CompositorSupportsFB=0
CompositorWLArguments=
CompositorKMSArguments=
CompositorFBArguments=
CompositorDisplayArgument=
SessionArgument=
AdditionalArguments=-platform liri -plugin libinput
CompositorKMSSeatAware=1
[EnvironmentFile]
set=XDG_CURRENT_DESKTOP=cask
set=QT_QPA_EGLFS_ALWAYS_SET_MODE=1@KMS
set=QT_QPA_EGLFS_KMS_ATOMIC=1@KMS
set=QT_WAYLAND_SHELL_INTEGRATION=fullscreen-shell@WL
