[Desktop Entry]
Enabled=1
Type=WSession
Name=Mir Shell
Comment=A sample Mir Desktop
CompositorExec=/opt/bin/mir-shell
CompositorSupportsWL=0
CompositorSupportsKMS=1
CompositorSupportsWKS=0
CompositorKMSSeatAware=1
CompositorSupportsFB=0
CompositorWLArguments=
CompositorKMSArguments=
CompositorFBArguments=
CompositorDisplayArgument=
SessionArgument=
AdditionalArguments=
[EnvironmentFile]
set=XDG_CURRENT_DESKTOP=Mir
