[Desktop Entry]
Enabled=1
Type=WSession
Name=Orbital Shell
CompositorExec=/opt/bin/orbital
CompositorSupportsKMS=1
CompositorSupportsWL=0
CompositorKMSArguments=--backend=drm-backend
CompositorWLArguments=--backend=wayland-backend
CompositorDisplayArgument=--socket 
SessionArgument=
NeedsFile=/opt/bin/orbital
EnvironmentFile=/usr/share/wsessions.d/orbital-desktop.environment

