[Desktop Entry]
Enabled=1
Type=WSession
Name=Orbment
Comment=A tiling Wayland DE. (Press Super+Enter for a terminal)
CompositorExec=/opt/bin/orbment
CompositorSupportsWL=0
CompositorSupportsKMS=1
CompositorSupportsFB=0
CompositorWLArguments=
CompositorKMSArguments=
CompositorFBArguments=
CompositorDisplayArgument=
SessionArgument=
AdditionalArguments=
