[Desktop Entry]
Enabled=1
Type=WSession
Name=Orbment
CompositorExec=/opt/bin/orbment
CompositorSupportsWL=0
CompositorSupportsKMS=1
CompositorSupportsFB=0
CompositorWLArguments=
CompositorKMSArguments=
CompositorFBArguments=
CompositorDisplayArgument=
SessionArgument=
AdditionalArguments=
