[Desktop Entry]
Enabled=0	
Type=WSession
Name=Papyros Desktop
CompositorExec=/opt/bin/papyros-session
CompositorSupportsWL=1
CompositorSupportsKMS=0
CompositorSupportsFB=0
CompositorWLArguments=-platform wayland
CompositorKMSArguments=
CompositorFBArguments=
CompositorDisplayArgument=
SessionArgument=
AdditionalArguments=
NeedsFile=/opt/bin/papyros-session