[Desktop Entry]
Enabled=1
Type=WSession
Name=Papyros Desktop
CompositorExec=/opt/bin/papyros-shell
CompositorSupportsWL=1
CompositorSupportsKMS=0
CompositorSupportsFB=0
CompositorWLArguments=-platfom wayland
CompositorKMSArguments=
CompositorFBArguments=
CompositorDisplayArgument=
SessionArgument=
AdditionalArguments=
NeedsFile=/opt/bin/papyros-shell