[Desktop Entry]
Enabled=1
Type=WSession
Name=Papyros Desktop
CompositorExec=/opt/bin/greenisland
CompositorSupportsWL=1
CompositorSupportsKMS=0
CompositorSupportsFB=0
CompositorWLArguments=-n
CompositorKMSArguments=
CompositorFBArguments=
CompositorDisplayArgument=--wayland-socket-name 
SessionArgument=--shell io.papyros.shell
AdditionalArguments=
NeedsFile=/opt/bin/papyros-session