[Desktop Entry]
Enabled=1
Type=WSession
Name=Sway
Comment=An i3 like Wayland DE. (Press Super+Enter for a terminal)
CompositorExec=/opt/bin/sway
CompositorSupportsWL=0
CompositorSupportsKMS=1
CompositorSupportsWKS=0
CompositorKMSSeatAware=1
CompositorSupportsFB=0
CompositorWLArguments=
CompositorKMSArguments=
CompositorFBArguments=
CompositorDisplayArgument=
SessionArgument=
AdditionalArguments=
[EnvironmentFile]
set=XDG_CURRENT_DESKTOP=sway
set=WLR_BACKENDS=libinput,drm@KMS
set=WLR_BACKENDS=wayland@WKS
set=WLR_RENDERER_ALLOW_SOFTWARE=1
set=WLR_RENDERER=pixman@SOFTWARE
set=WLR_NO_HARDWARE_CURSORS=1@SOFTWARE
set=WLR_LIBINPUT_NO_DEVICES=1
