[Desktop Entry]
Enabled=1
Type=WSession
Name=Wayfire
Comment=A wlroots based compositor, with Compiz/KWin like effects
CompositorExec=/opt/bin/wayfire
CompositorSupportsWL=0
CompositorSupportsKMS=1
CompositorKMSSeatAware=1
CompositorSupportsFB=0
CompositorWLArguments=
CompositorKMSArguments=
CompositorFBArguments=
CompositorDisplayArgument=
SessionArgument=
AdditionalArguments=
[EnvironmentFile]
set=WLR_BACKENDS=drm@KMS
