[Desktop Entry]
Enabled=1
Type=WSession
Name=Weston Low Graphics Mode
Comment=Weston with Software Rendering
CompositorExec=/opt/bin/weston
CompositorSupportsKMS=1
CompositorSupportsFB=0
CompositorSupportsWL=0
CompositorKMSArguments=--backend=drm-backend.so
CompositorWLArguments=--backend=wayland-backend.so
CompositorDisplayArgument=--socket=
CompositorKMSSeatAware=1
CompositorKMSSeatArgument=--seat=
CompositorFBSeatAware=1
CompositorFBSeatArgument=--seat=
SessionArgument=--modules=screen-share.so
AdditionalArguments=--xwayland --use-pixman
IsFallbackSession=1
NeedsFile=/opt/bin/weston
[EnvironmentFile]
set=XDG_CURRENT_DESKTOP=Weston

