[Desktop Entry]
Enabled=1
Type=WSession
Name=Wio
Comment=A clone of Plan9's 'Rio' windowing manager
CompositorExec=/opt/bin/wio
CompositorSupportsWL=0
CompositorSupportsKMS=1
CompositorKMSSeatAware=1
CompositorSupportsFB=0
CompositorWLArguments=
CompositorKMSArguments=
CompositorFBArguments=
CompositorDisplayArgument=
SessionArgument=
AdditionalArguments=
