[Unit]
Description=Recinit backed Rescue Shell
Conflicts=shutdown.target
After=sysinit.target plymouth-start.service
Before=shutdown.target

[Service]
Environment=RECINIT_SYSTEMD=1
Environment=RECINIT_SYSTEMD_TYPE=rescue
Environment=HOME=/root
WorkingDirectory=-/root
ExecStartPre=-/bin/plymouth --wait quit
ExecStart=/usr/sbin/recinit
Type=idle
KillMode=process
IgnoreSIGPIPE=no
SendSIGHUP=yes

[Install]
WantedBy=rescue.target
