[Unit]
Description=Graphical terminal for vTTY for instance %i

After=vtty-backend@.service
After=systemd-user-sessions.service display-manager.service

StartLimitIntervalSec=30
StartLimitBurst=3

BindsTo=vtty-backend@.service

#Same as default getty service
IgnoreOnIsolate=true
Conflicts=rescue.service
Before=rescue.service

[Service]
EnvironmentFile=/run/vtty/%i/frontend_env
PAMName=vtty-frontend

ExecStart=/usr/libexec/vtty/vtty-frontend %i

Restart=on-failure
RestartSec=0

Type=simple
User=vtty

NoNewPrivileges=true
ProtectSystem=true
PrivateTmp=true
RestrictRealtime=true
ProtectHostname=true
ProtectKernelTunables=true
RestrictSUIDSGID=true



[Install]
WantedBy=multi-user.target
