[Unit]
Description=Starts the vTTY login console on seats.
ConditionPathExists=!/dev/tty0

[Service]
Type=simple
ExecStart=/usr/libexec/vtty/vtty-seatmanager

[Install]
Alias=display-manager.service
WantedBy=multi-user.target
