[Unit]
#Single user vtty for non-vt text mode processes that configure the system, such as console-conf
Description=Session proxy runner for vTTY on seat %i
Before=vtty-frontend-seat@.service

[Service]
Restart=on-failure
RestartSec=0

ExecStart=/usr/libexec/vtty/vtty-backend %i
Type=notify

IgnoreSIGPIPE=false
SendSIGHUP=true
KillMode=control-group

[Install]
WantedBy=multi-user.target
