[Unit]
#Single user vtty for non-vt text mode processes that configure the system, such as console-conf or recovery
#Perhaps in the future kwin could offer to start it if the screen unlocker fails, and needs the user to run the unlock command
#As not all login managers have an always-running greeter like waylandloginmanager
Description=Graphical terminal for vTTY %i

After=vtty-backend-novt@.service
After=systemd-user-sessions.service display-manager.service

StartLimitIntervalSec=30
StartLimitBurst=3

BindsTo=vtty-backend-novt@.service

#Same as default getty service
IgnoreOnIsolate=true
Conflicts=rescue.service
Before=rescue.service

[Service]
Environment=XDG_SEAT=%i
PAMName=vtty

ExecStart=/usr/libexec/vtty/vtty-frontend %i

Restart=on-failure
RestartSec=0

Type=simple
User=vtty

NoNewPrivileges=true
ProtectSystem=true
PrivateTmp=true
PrivateNetwork=true
RestrictRealtime=true
ProtectHostname=true
ProtectKernelTunables=true
RestrictSUIDSGID=true



[Install]
WantedBy=multi-user.target
DefaultInstance=seat0
