[Unit]
Description=Graphical terminal for vTTY %i

After=vtty-backend@.service
After=systemd-user-sessions.service display-manager.service

StartLimitIntervalSec=30
StartLimitBurst=3

BindsTo=vtty-backend@.service

ConditionPathExists=/dev/tty0
ConditionPathExists=/dev/%i
ConditionPathExists=!/run/vtty/%i/vttyinhibit

#Same as default getty service
IgnoreOnIsolate=true
Conflicts=rescue.service
Before=rescue.service


#This only considers failure if starting the vTTY display server is impossible
#such as no /dev/dri/card(X) device, or an executable is missing
#when that happens, it fails back to the legacy console
OnFailure=getty@%i.service

[Service]
Environment=XDG_SEAT=seat0
PAMName=vtty

ExecStart=/usr/libexec/vtty/vtty-frontend %i

TTYPath=/dev/%I
TTYReset=true
StandardOutput=tty
StandardInput=tty
TTYVTDisallocate=true

Restart=on-failure
RestartSec=0

Type=simple
User=vtty

NoNewPrivileges=true
ProtectSystem=true
PrivateTmp=true
PrivateNetwork=true
RestrictRealtime=true
ProtectHostname=true
ProtectKernelTunables=true
RestrictSUIDSGID=true



[Install]
WantedBy=getty.target
DefaultInstance=tty1
