[Unit]
Description=Starts the vTTY login console on seats.
Conflicts=plymouth-quit.service plymouth-quit-wait.service
Before=plymouth-quit-wait.service plymouth-quit.service
After=systemd-user-sessions.service
ConditionPathExists=!/dev/tty0

[Service]
Type=simple
ExecStart=/usr/libexec/vtty/vtty-seatmanager

[Install]
Alias=display-manager.service
WantedBy=multi-user.target
