[Unit]
Description=The multi-seat Wayland Login Manager for RebeccaBlackOS
Wants=plymouth-deactivate.service
Conflicts=plymouth-quit.service plymouth-quit-wait.service
Before=getty@tty1.service plymouth.service plymouth-quit-wait.service plymouth-quit.service
After=systemd-user-sessions.service plymouth-deactivate.service

[Service]
#Use TTY63 to support text mode fallback if there is no kernel mode setting or framebuffer support
Type=notify
ExecStart=/usr/bin/waylandloginmanager
IgnoreSIGPIPE=no
#StandardOutput=tty
#StandardInput=tty
#TTYPath=/dev/tty63
PrivateTmp=yes

[Install]
Alias=display-manager.service
WantedBy=multi-user.target
