[Unit]
Description=The multi-seat Wayland Login Manager for RebeccaBlackOS
Wants=plymouth-deactivate.service
Conflicts=plymouth-quit.service plymouth-quit-wait.service
Before=getty@tty1.service plymouth.service plymouth-quit-wait.service plymouth-quit.service
After=systemd-user-sessions.service plymouth-deactivate.service
OnFailure=plymouth-start.service

[Service]
Type=notify
ExecStart=/usr/bin/waylandloginmanager
IgnoreSIGPIPE=no
#To enable using tty63 for debugging
#StandardOutput=tty
#StandardInput=tty
#TTYPath=/dev/tty63
PrivateTmp=yes

[Install]
Alias=display-manager.service
WantedBy=multi-user.target
