#  This file is based off a part of systemd (70-uaccess.rules).
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation; either version 2.1 of the License, or
#  (at your option) any later version.

ACTION=="remove", GOTO="uaccess_fbdev_end"
ENV{MAJOR}=="", GOTO="uaccess_fbdev_end"


# Framebuffer devices
SUBSYSTEM=="graphics", KERNEL=="fb*", TAG+="uaccess"

LABEL="uaccess_fbdev_end"
