
ENV{MAJOR}=="", GOTO="detectseats_events_end"

ACTION=="remove", SUBSYSTEM=="graphics", RUN+="/usr/bin/waylandloginmanager --sendcommand DetectSeats"
ACTION=="add", SUBSYSTEM=="graphics", RUN+="/usr/bin/waylandloginmanager --sendcommand DetectSeats"

ACTION=="remove", SUBSYSTEM=="drm", RUN+="/usr/bin/waylandloginmanager --sendcommand DetectSeats"
ACTION=="add", SUBSYSTEM=="drm", RUN+="/usr/bin/waylandloginmanager --sendcommand DetectSeats"

ACTION=="remove", SUBSYSTEM=="input", RUN+="/usr/bin/waylandloginmanager --sendcommand DetectSeats"
ACTION=="add", SUBSYSTEM=="input", RUN+="/usr/bin/waylandloginmanager --sendcommand DetectSeats"

LABEL="detectseats_events_end"
