
ENV{MAJOR}=="", GOTO="wlm-detectseats_events_end"

ACTION=="remove", SUBSYSTEM=="graphics", RUN+="/usr/bin/waylandloginmanager --udevtrigger"
ACTION=="add", SUBSYSTEM=="graphics", RUN+="/usr/bin/waylandloginmanager --udevtrigger"

ACTION=="remove", SUBSYSTEM=="drm", RUN+="/usr/bin/waylandloginmanager --udevtrigger"
ACTION=="add", SUBSYSTEM=="drm", RUN+="/usr/bin/waylandloginmanager --udevtrigger"

LABEL="wlm-detectseats_events_end"
