[Desktop Entry]
Type=Application
Exec=/usr/bin/waylandapp /opt/bin/view /usr/share/wallpapers/kde-default.png
Icon=/usr/share/icons/oxygen/32x32/mimetypes/application-x-executable.png
Name=Weston Photo Viewer
