[Desktop Entry]
Type=Application
Exec=/usr/bin/westonnestedcaller
Icon=/usr/share/icons/oxygen/32x32/mimetypes/application-x-executable.png
Name=Nested Weston
