[Desktop Entry]
Name=RBOS Default Desktop

X-KDE-PluginInfo-Name=RBOS Default Desktop 
X-Attributed-URLs=https://www.opendesktop.org/p/1069607/;https://images.pling.com/img/00/00/01/05/82/1069607/52726-1.jpg
