[Desktop Entry]
Type=Application
Exec=/opt/bin/elementary_test
Icon=/usr/share/icons/oxygen/32x32/mimetypes/application-x-executable.png
Name=EFL Elementary Tests
