[Desktop Entry]
Enabled=1
Type=WSession
Name=Consort Desktop
CompositorExec=weston
CompositorSupportsKMS=1
CompositorSupportsFB=1
CompositorKMSArguments=--backend=drm-backend.so
CompositorFBArguments=--backend=fbdev-backend.so
SessionArgument=--modules=consort-desktop.so,cms-colord.so
AdditionalArguments=--log=$HOME/weston.log
NeedsFile=$WESTON_PLUGIN_PATH/consort-desktop.so
NeedsFile=/opt/bin/weston