[Desktop Entry]
Enabled=1
Type=WSession
Name=Wayland Enlightenment
CompositorExec=/opt/bin/mutter-launch
CompositorSupportsKMS=1
CompositorSupportsFB=1
CompositorKMSArguments=
CompositorFBArguments=
CompositorDisplayArgument=
SessionArgument=
AdditionalArguments=
NeedsFile=/opt/bin/enlightenment
EnvironmentFile=/usr/share/wsessions.d/enlightenment.environment

