[Desktop Entry]
Enabled=1
Type=WSession
Name=Fullscreen Test Session
CompositorExec=/opt/bin/weston-fullscreen
CompositorSupportsKMS=0
CompositorSupportsFB=0
CompositorSupportsWL=1
CompositorKMSArguments=
CompositorFBArguments=
CompositorDisplayArgument=
SessionArgument=
AdditionalArguments=

