[Desktop Entry]
Enabled=1
Type=WSession
Name=Hawaii Desktop Shell
CompositorExec=/opt/bin/weston-display-server
CompositorSupportsKMS=1
CompositorSupportsFB=1
CompositorKMSArguments=--backend=drm-backend.so
CompositorFBArguments=--backend=fbdev-backend.so
SessionArgument=--modules=hawaii-desktop.so,xwayland.so,cms-colord.so --shell=$WESTON_PLUGIN_PATH/hawaii-desktop.so
AdditionalArguments=--log=$HOME/weston.log
NeedsFile=$WESTON_PLUGIN_PATH/hawaii-desktop.so
NeedsFile=/opt/bin/weston