[Desktop Entry]
Enabled=0
Type=WSession
Name=KDE Plasma
CompositorExec=/opt/bin/kwin_wayland
CompositorSupportsKMS=1
CompositorSupportsFB=0
CompositorKMSArguments=
CompositorFBArguments=
CompositorDisplayArgument=
SessionArgument=
AdditionalArguments=--x-server=xwayland

