[Desktop Entry]
Enabled=1
Type=WSession
Name=Orbital Shell
CompositorExec=weston
CompositorSupportsKMS=1
CompositorSupportsFB=1
CompositorKMSArguments=--backend=drm-backend.so
CompositorFBArguments=--backend=fbdev-backend.so
SessionArgument=--modules=orbital-shell.so,xwayland.so,cms-colord.so --shell=/opt/lib/orbital/orbital-shell.so --orbital-client=/opt/libexec/startorbital
AdditionalArguments=--log=$HOME/weston.log
NeedsFile=$WESTON_PLUGIN_PATH/orbital-shell.so
NeedsFile=/opt/bin/weston