[Desktop Entry]
Enabled=1
Type=WSession
Name=Weston Tablet Shell
CompositorExec=weston
CompositorSupportsKMS=1
CompositorSupportsFB=1
CompositorKMSArguments=--backend=drm-backend.so
CompositorFBArguments=--backend=drm-backend.so
SessionArgument=--modules=tablet-shell.so,xwayland.so,cms-colord.so
AdditionalArguments=--log=$HOME/weston.log